# docker
docker/**/.env

**/.vscode/
**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
**/.idea
**/.swp
**/.coverage
**/.python_history
**/.pytest_cache
**/.bash_history
**/.cache*
**/.ipython*
**/.jupyter*
**/.local*
**/.ssh*
**/.vscode-server*

**/gcp-key*.json 
.config/
.gsutil/

**/.terraform*
**.out
dynamic_resources/dynamic_resources

# kubeflow
infra/gcp/kubeflow/config/env.sh
infra/gcp/kubeflow/kubeflow-distribution/